//
// MDC Theme
// https://github.com/hperrin/svelte-material-ui/blob/master/site/src/theme/_smui-theme.scss
//

@import "@material/theme/color-palette";

a {
    color: white !important;
    text-decoration: underline;
    cursor: pointer;
}

a:hover {
    text-decoration: none;
}

$mdc-theme-primary: black;
$mdc-theme-secondary: white;

$mdc-theme-background: black;
$mdc-theme-surface: black;

$mdc-theme-error: $material-color-red-900;

